@model IEnumerable<Platillo>

<article class="grid-container">
    <div class="text-center">
        <br />
        <h3>En nuestro restaurante te ofrecemos lo siguientes platillos:</h3>
        <hr />
    </div>
    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #1
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu1.jpg">
                <div class="card-section">
                    <p>Orden de 12 alitas con papas,ensalada y salsa de su preferencia.</p> 
                </div>
                <span class="product-card-price">L.165.00</span>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #2
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu2.jpg">
                <div class="card-section">
                    <p>Orden de 1/2 libra de pechugitas con papas, ensalada y salsa de su preferencia.</p>
                    <span class="product-card-price">L.125.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #3
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu3.jpg">
                <div class="card-section">
                    <p>Orden de chicken fingers acompañado con tajadas o papas, ensalada y salsa de su preferencia.</p>
                    <span class="product-card-price">L.130.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #4       
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu4.jpg" alt="Menu 4"/>
                <div class="card-section">
                    <p>Fajitas de res a la jalapeña acompañada de fijoles fritos, papas o tajadas, tortilla y
                        ensalada de vegetales</p>
                    <span class="product-card-price">L.150.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #5       
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu5.jpg" alt="Menu 5" />
                <div class="card-section">
                    <p>Filete de pollo a la plancha acompañada de fijoles fritos y tortilla, papas o tajadas y
                        ensalada de vegetales</p>
                    <span class="product-card-price">L.135.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #6
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu6.jpg" />
                <div class="card-section">
                    <p>Filete de pollo en salsa jalapeña acompañada de fijoles fritos y tortilla, papas o tajadas y
                        ensalada de vegetales</p>
                    <span class="product-card-price">L.145.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #7
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu7.jpg" />
                <div class="card-section">
                    <p>
                        Chuleta a la plancha acompañada de fijoles fritos y tortilla, papas o tajadas y
                        ensalada de vegetales
                    </p>
                    <span class="product-card-price">L.135.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #8
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu8.jpg" />
                <div class="card-section">
                    <p>Orden de 1/2 libra de costilla BBQ/Criolla acompañado con tajadas o papas y ensalada</p>
                    <span class="product-card-price">L.220.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select">
                <div class="card-divider">Menu #9
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/menu9.jpg" />
                <div class="card-section">
                    <p>Suave lomo de cerdo bañado con salsa agridulce acampañado de arroz a la primavera y pure de papas</p>
                    <span class="product-card-price">L.180.00</span>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3" >
        @if (Model != null && Model.Any())
        {
            @foreach (var platillo in Model)
            {
                <div class="cell">
                    <div class="card card-select">
                        <div class="card-divider">@platillo.Nombre
                            <div class="travel-feature-card-header-controls-b">
                                <span>
                                    <a asp-action="EditarPlatillo" asp-route-id="@platillo.Id" class="hallow"><i class="fa fa-edit"></i></a></span>
                            </div>
                            <div class="travel-feature-card-header-controls">
                                <span><a asp-action="Eliminar" asp-route-id="@platillo.Id" class="hollow"><i class="fa fa-remove"></i></a></span>
                            </div>
                        </div>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(platillo.Img)" alt="Imagen" />
                        <div class="card-section">
                            <p>@platillo.Descripcion</p>
                        </div>
                        <span class="product-card-price">
                            <p>L. @platillo.Precio</p>
                        </span>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No hay platillos disponibles.</p>
        }

    </div>
    
</article>

<div class="row">
    <div class="columns medium-6 medium-center text-center">
        <a asp-action="CrearPlatillo" class="hollow button">
            <i class="fa-solid fa-plus"></i>
            Nuevo Platillo
        </a>
    </div>
</div>