@model IEnumerable<Postres>

<div class="grid-container">
    

    <div class="text-center">
        <br />
        <h3>En nuestro restaurante contamos con los siguientes postres o snack:</h3>
        <hr />
    </div>

    <div class="grid-x grid-margin-x small-up-1 medium-up-3">
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    Postre
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre1.jpg">
                <div class="card-section">
                    <h5>Brownies</h5>
                    <p>
                        Deliciosas porciones de Brownies con diferentes tipos de coberturas a elgir.
                    </p>
                    <span class="product-card-price">L.120.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    Postre
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre2.png">
                <div class="card-section">
                    <h5>Mini Bruce Cake</h5>
                    <p>Pastelito completo de chocolate con ganche de chocolate cremoso y chispas de chocolate</p>
                    <span class="product-card-price">L.150.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    Postre
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre3.jpg">
                <div class="card-section">
                    <h5>Mini Bruce Cakes Bailes</h5>
                    <p>Pastelito de chocolate con ganche cremoso, bañado en licor bailes y mousse de moka</p>
                    <span class="product-card-price">L.170.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    POSTRE
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre4.jpg">
                <div class="card-section">
                    <h5>3 Leches y Fresas</h5>
                    <p>Pastelito de 3 leches de vainilla con fressas y queso crema</p>
                    <span class="product-card-price">L.100.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    POSTRE
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre5.jpg">
                <div class="card-section">
                    <h5>Pastel de Moka</h5>
                    <p>Rebanada de pastel de chocolate, bañado en café sabor moka, mousse de moka con nuez y chìpas de chocolate</p>
                    <span class="product-card-price">L.75.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    POSTRE
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre6.jpg">
                <div class="card-section">
                    <h5>Mousse de frutas del bosque</h5>
                    <p>Delicioso postre cremoso con frutos del bosque, combinando el dulce y el ácido de forma deliciosa.</p>
                    <span class="product-card-price">L.90.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    POSTRE
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postres7.jpg">
                <div class="card-section">
                    <h5>Soufflé de mango y coco</h5>
                    <p>soufflé clásico francés de base, combinado con trozos de mango y un topping de coco</p>
                    <span class="product-card-price">L.90.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    POSTRE
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postres8.jpg">
                <div class="card-section">
                    <h5>Pie de limón con merengue</h5>
                    <p>Deliciosa rebanada de pie de limón con una capa grande y extra de merengue tamaño XL en su cobertura.</p>
                    <span class="product-card-price">L.85.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    POSTRE
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/postre9.jpg">
                <div class="card-section">
                    <h5>Helados de té e infusiones</h5>
                    <p>
                        Cambiamos los tradicionales helados por combinaciones igual de
                        sabrosas como lo son el té verde tradicional, té negro con toques de canela y naranja entre otros.
                    </p>
                    <span class="product-card-price">L.90.00</span>
                </div>
            </div>
        </div>

        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    Snacks
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/snacks1.jpeg">
                <div class="card-section">
                    <h5>Mozarella sticks</h5>
                    <p>Deliciosas palitos de mozzarella servidos con salsa marinara</p>
                    <span class="product-card-price">L.120.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    Snacks
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/snacks2.jpg">
                <div class="card-section">
                    <h5> Chicharrones</h5>
                    <p>Deliciosos Chicharrones acompañados con fijoles fritos, queso, chimol, tortillas y limon</p>
                    <span class="product-card-price">L.150.00</span>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="card card-select" data-cardSelect>
                <div class="card-divider">
                    Snacks
                    <div class="travel-feature-card-header-controls-b">
                        <span><a href="#"><i class="fa fa-edit"></i></a></span>
                    </div>
                    <div class="travel-feature-card-header-controls">
                        <span><a href="#"><i class="fa fa-remove"></i></a></span>
                    </div>
                </div>
                <img src="~/images/snacks3.jpg">
                <div class="card-section">
                    <h5>Anafre sencillo</h5>
                    <p>Deliciosos nachos en anafre con quesillo y chorizo</p>
                    <span class="product-card-price">L.110.00</span>
                </div>
            </div>
        </div>
        
    </div>

    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        @if (Model != null && Model.Any())
        {
            @foreach (var postre in Model)
            {
                <div class="cell">
                    <div class="card card-select" data-cardSelect>
                        <div class="card-divider">
                            @postre.TipoPlatillo
                            <div class="travel-feature-card-header-controls-b">
                                <span><a asp-action="EditarPostre" asp-route-id="@postre.Id" class="hallow"><i class="fa fa-edit"></i></a></span>
                            </div>
                            <div class="travel-feature-card-header-controls">
                                <span><a asp-action="EliminarPostre" asp-route-id="@postre.Id" class="hollow"><i class="fa fa-remove"></i></a></span>
                            </div>
                        </div>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(postre.Img)" alt="Imagen" />
                        <div class="card-section">
                            <h5>@postre.Nombre</h5>
                            <p>
                                @postre.Descripcion
                            </p>
                            <span class="product-card-price">L. @postre.Precio</span>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No hay platillos disponibles.</p>
        }

    </div>

</div>

<br />

<div class="row">
    <div class="columns medium-6 medium-center text-center">
        <a asp-action="CrearPostres" class="hollow button">
            <i class="fa-solid fa-plus"></i>
            Nuevo Postre o Snacks
        </a>
    </div>
</div>